<html>
    <body>
        <form method="POST" action="">
            <h1>Generic Query</h1>
            SQL <input type = "text" name = "sql" /> <br>
            <input type ="submit">



        </form>


        <table>
        {% if result %}
            <tr>
                {% for i in attrib %}
                    <th> {{ i }} </th>
                {% endfor %}
            </tr>

            {% for row in result %}
            <tr>
                {% for i in attrib %}
                <td> {{ row[i] }} </td>
                {% endfor %}
            </tr>
            {% endfor %}

        {% endif %}
        </table>
    </body>
</html>