{% include "header.html" %}
<body>
    {% include "navbar.html" %}

    <div class="entry-container">
        <div class="tabs">
            <button class="tab-button" id="searchRecipeButton">Menus</button>
            <button class="tab-button active" id="addRecipeButton">Add To Menu</button>
        </div>

        <div id="searchRecipe" class="tab-content" style="display: block;">
            <div id="searchResults">
                {% for menu_name, recipes in menus.items() %}
                    <div class="menu-card">
                        <h2 class="menu-title">{{ menu_name }}</h2>
                        {% for recipe in recipes %}
                            <p class="recipe-description">{{ recipe[0] }}: {{ recipe[1] }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>                
        </div>

        <div id="addRecipeForm" class="tab-content active" style="display: none;">
            <form id="enterRecipeForm" action="{{ url_for('main.add_to_menu') }}" method="post">
                <div class="field">
                    <label for="recipeName" class="form-label">Menu Name (DO NOT ADD ' OR ")</label><br>
                    <input type="text" id="recipeName" name="recipeName" class="input" placeholder="If adding to an existing menu, name must match exactly"><br>
                </div>
                <div class="field">
                    <label for="style" class="form-label">Description (DO NOT ADD ' OR ")</label><br>
                    <input type="text" id="style" name="style" class="input"><br>
                </div>
                <div class="field">
                    <label for="recipe" class="form-label">Recipe:</label><br>
                    <select id="recipe" name="recipe">
                        {% for option in select_from %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Submit" class="button">
            </form>
        </div>             
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#addRecipeButton").click(function(){
                $("#addRecipeForm").show();
                $("#searchRecipe").hide();
            });

            $("#searchRecipeButton").click(function(){
                $("#searchRecipe").show();
                $("#addRecipeForm").hide();
            });

            $("#enterRecipeForm").on('submit', function(e) {
                e.preventDefault();

                var data = {
                    menuName: $("#recipeName").val(),
                    recipeName: $("#recipe").val(),
                    description: $("#style").val()
                };

                $.ajax({
                    url: '/add_to_menu',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function(response) {
                        console.log(response);
                    }
                });
            });
        });
    </script>
</body>

{% include "footer.html" %}

