<!-- templates/profile.html -->

{% include "header.html" %}

<body>
{% include "navbar.html" %}
<div class="user-account">
    <div class="user-image">
      <img class="user-image" src="{{picture}}" alt="User Image">
    </div>
    <div class="user-info">
        <h2 id="name">{{name}}</h2>
        <p id="email">{{email}}</p>
    </div>
    <div class="user-actions">
        <button id="delete-account-button" class="select-recipe-button">Delete Account</button>
        <button id="manage-ingredients-button" class="select-recipe-button">Manage My Ingredients</button>
        <button id="manage-recipes-button" class="select-recipe-button">Manage My Recipes</button>
    </div>
  </div>
</body>
</html>


<script>
  document.getElementById("manage-ingredients-button").addEventListener("click", function() {
      window.location.href = "/manage_ingredients";
  });
  document.getElementById("manage-recipes-button").addEventListener("click", function() {
      window.location.href = "/my_recipes";
  });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).on('click', '#delete-account-button', function() {
        var accountName = $(this).data('account-name');  // Get the selected recipe's name
        var userInput = prompt("YOU ARE ABOUT TO DELETE YOUR ACCOUNT!!!!!! ALL RECIPES ASSOCIATED WITH THIS ACCOUNT WILL BE PURGED! IF YOU ARE SURE, TYPE 'delete' TO CONFIRM.");
        if (userInput.toLowerCase() === 'delete') {
            alert("Account deleted...goodbye...Gordan Ramsay is disappointed...")
            window.location.href = "/delete_account";
        } else {
            alert("Account deletion cancelled.");
        }
    });
</script>

  
</body>
{% include "footer.html" %}