<!-- templates/profile.html -->

{% include "header.html" %}

<body>
{% include "navbar.html" %}
<div class="user-account">
    <div class="user-image">
      <img class="user-image" src="{{picture}}" alt="User Image">
    </div>
    <div class="user-info">
        <h2 id="name">{{name}}</h2>
        <p id="email">{{email}}</p>
    </div>
    <div class="user-actions">
        <button id="change-password">Change Password</button>
        <button id="delete-account">Delete Account</button>
        <button id="update-picture">Update Picture</button>
    </div>
  </div>
</body>
</html>

  
</body>
{% include "footer.html" %}