{% include "header.html" %}
<body>
    {% include "navbar.html" %}


    <div class="content-container">
        <!-- Your content here -->
        <div id="searchResults">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="recipe-card">
                        <h2 class="recipe-title">{{ recipe.RecName }}</h2>
                        <p class="recipe-owner">Owner: {{ recipe.Owner }}</p>
                        <p class="recipe-style">Style: {{ recipe.Style }}</p>
                        <p class="recipe-ingredients-title">Ingredients:</p>
                        <ul class="recipe-ingredients">
                            {% for food,amount in recipe.Ingredients %}
                            <li>{{ food }}: {{ amount }}</li>
                            {% endfor %}
                        </ul>
                        <p class="recipe-steps-title">Steps:</p>
                        <ol class="recipe-steps">
                            {% for step, instruction in recipe.Steps.items() %}
                                <li>{{ instruction }}</li>
                            {% endfor %}
                        </ol>
                        <p class="recipe-source">Source: {{ recipe.Source }}</p>
                        {% if recipe.Allergy %}
                            <p class="recipe-steps-title">CONTAINS INGREDIENTS YOU ARE ALLERGIC TO!!!</p>
                        {% endif %}
                        {% if not recipe.Sufice %}
                            <p class="recipe-style">You don't have all ingredients to make this recipe!</p>
                        {% endif %}
                        <button class="select-recipe-button" data-recipe-name="{{ recipe.RecName }}">Delete Recipe</button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).on('click', '.select-recipe-button', function() {
                var recipeName = $(this).data('recipe-name');  // Get the selected recipe's name
                var result = confirm("Are you sure you want to delete this recipe from your saved recipes?");
                if (result) {

                    // Send the selected recipe's name to the server using AJAX
                    $.ajax({
                        url: '/delete_saved_recipe',  // The URL to send the request to
                        type: 'POST',  // The type of HTTP method to use
                        contentType: 'application/json',  // The type of data you're sending
                        data: JSON.stringify({name: recipeName}),  // The selected recipe's name
                        success: function(response) {
                            // Handle the server's response here
                            alert("Recipe deleted");
                            // Reload the page to reflect the deletion
                            location.reload();
                        }
                    });

                            }
            });
        </script>

</body>
{% include "footer.html" %}
