{% include "header.html" %}
<body>
    {% include "navbar.html" %}

    <div class="entry-container">
        <div id="addRecipeForm" class="tab-content active">
            <form id="enterRecipeForm" action="{{ url_for('main.update_recipe') }}" method="post">
                <div class="field">
                    <label for="recipeName" class="form-label">Recipe Name:</label><br>
                    <input type="text" id="recipeName" name="recipeName" class="input" value="{{recipe[0]['RecName']}}"><br>
                </div>
                <div class="field">
                    <label for="style" class="form-label">Style:</label><br>
                    <input type="text" id="style" name="style" class="input" value="{{recipe[0]['Style']}}"><br>
                </div>
                <div class="field">
                    <label for="source" class="form-label">Source:</label><br>
                    <input type="text" id="source" name="source" class="input" value="{{recipe[0]['Source']}}"><br>
                </div>
                <div id="steps">
                    <!--Placeholder for steps-->
                </div>
                <button type="button" id="addStep" class="button">Add Step</button><br>
                <button type="button" id="removeStep" class="button">Remove Step</button><br>
                <div class="ingredient-container">
                    <div id="ingredients">
                        <!--Placeholder for ingredients-->
                    </div>
                    <div id="amounts">
                        <!--Placeholder for amounts-->
                    </div>
                </div>
                <button type="button" id="addIng" class="button">Add Ingredient</button><br>
                <button type="button" id="removeIng" class="button">Remove Ingredient</button><br>                
                <input type="submit" value="Submit" class="button">
            </form>
        </div>
    </div>
    


    <script>
        // Pass the recipe variable from Flask to JavaScript
        var recipe = {{ recipe | tojson | safe }};

        // Parse the 'Steps' field into a JavaScript object
        var steps = JSON.parse(recipe[0]['Steps']);
        console.log(steps)

        // Generate the HTML code for the existing steps
        for (var i = 1; i <= Object.keys(steps).length; i++) {
            var newStep = document.createElement('div');
            newStep.id = 'step' + i;
            newStep.innerHTML = '<label for="step' + i + 'Input">Step ' + i + ':</label><br><input type="text" id="step' + i + 'Input" name="step' + i + '" class="input" value="' + steps['step' + i] + '"><br>';
            document.getElementById('steps').appendChild(newStep);
        }

        // Update the stepCount variable to the next step number
        var stepCount = Object.keys(steps).length + 1;
    </script>


<script>
   // Pass the recipe variable from Flask to JavaScript
    var recipe = {{ recipe | tojson | safe }};

    // Parse the 'Ingredients' field into a JavaScript object
    var ingredients = recipe[0]['Ingredients'];

    // Generate the HTML code for the existing ingredients
    for (var i = 0; i < ingredients.length; i++) {
        var ingredient = ingredients[i][0];
        var quantity = ingredients[i][1];

        var newIngredient = document.createElement('div');
        newIngredient.id = 'ing' + (i+1);
        newIngredient.innerHTML = '<label for="ing' + (i+1) + 'Input">Ingredient ' + (i+1) + ':</label><br><input type="text" id="ing' + (i+1) + 'Input" name="ing' + (i+1) + '" class="input" value="' + ingredient + '"><br>';
        document.getElementById('ingredients').appendChild(newIngredient);

        var newQuantity = document.createElement('div');
        newQuantity.id = 'amt' + (i+1);
        newQuantity.innerHTML = '<label for="amt' + (i+1) + 'Input">Amount ' + (i+1) + ':</label><br><input type="text" id="amt' + (i+1) + 'Input" name="amt' + (i+1) + '" class="input" value="' + quantity + '"><br>';
        document.getElementById('amounts').appendChild(newQuantity);
    }

    // Update the ingCount variable to the next ingredient number
    var ingCount = ingredients.length + 1;

</script>




    <script>
        // Add event listener for the 'addStep' button
        document.getElementById('addStep').addEventListener('click', function() {
            var newStep = document.createElement('div');
            newStep.id = 'step' + stepCount;
            newStep.innerHTML = '<label for="step' + stepCount + 'Input">Step ' + stepCount + ':</label><br><input type="text" id="step' + stepCount + 'Input" name="step' + stepCount + '" class="input"><br>';
            document.getElementById('steps').appendChild(newStep);
            stepCount++;
        });

        var ingCount = 2;
        var amtCount = 2;
        document.getElementById('addIng').addEventListener('click', function() {
            var newIng = document.createElement('div');
            newIng.id = 'ing' + ingCount;
            newIng.innerHTML = '<label for="ing' + ingCount + 'Input">Ingredient ' + ingCount + ':</label><br><input type="text" id="ing' + ingCount + 'Input" name="ing' + ingCount + '"><br>';
            document.getElementById('ingredients').appendChild(newIng);
            ingCount++;

            var newAmt = document.createElement('div');
            newAmt.id = 'amt' + amtCount;
            newAmt.innerHTML = '<label for="amt' + 'Input">Amount ' + ':</label><br><input type="text" id="amt' + 'Input" name="amt' + '"><br>';
            document.getElementById('amounts').appendChild(newAmt);
            amtCount++;
        });

        document.getElementById('removeStep').addEventListener('click', function() {
            if (stepCount > 2) {
                stepCount--;
                var lastStep = document.getElementById('step' + stepCount);
                lastStep.parentNode.removeChild(lastStep);
            }
        });

        document.getElementById('removeIng').addEventListener('click', function() {
            if (ingCount > 2) {
                ingCount--;
                amtCount--;
                var lastIng = document.getElementById('ing' + ingCount);
                var lastAmt = document.getElementById('amt' + amtCount);
                lastIng.parentNode.removeChild(lastIng);
                lastAmt.parentNode.removeChild(lastAmt);
            }
        });

    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $("#enterRecipeForm").on('submit', function(e) {
        e.preventDefault();  // Prevent the form from reloading the page

        // Extract the information from the form
        var recipeName = $("#recipeName").val();
        var style = $("#style").val();
        var source = $("#source").val();

        // Format the steps as a JSON object
        var steps = {};
        $("#steps div").each(function() {
            var stepNumber = $(this).attr('id');  // Get the step number
            var stepInstruction = $(this).find('input').val();  // Get the step instruction
            steps[stepNumber] = stepInstruction;
        });

        // Initialize an empty array
        var ingredients = [];

        // Loop through each div inside the #ingredients and #Amounts divs
        $("#ingredients div").each(function(index) {
            // Get the ingredient name and amount
            var ingName = $(this).find('input').val();
            var ingAmt = $("#amounts div").eq(index).find('input').val();

            // Create an array with the ingredient name and amount
            var ingredient = [ingName, ingAmt];

            // Add the array to the ingredients array
            ingredients.push(ingredient);
        });

        // Create the data object to send to the server
        var data = {
            name: recipeName,
            style: style,
            steps: steps,
            source: source,
            ingredients: ingredients

        };

        // Send the data to the server using AJAX
        $.ajax({
            url: '/update_recipe',  // The URL to send the request to
            type: 'POST',  // The type of HTTP method to use
            contentType: 'application/json',  // The type of data you're sending
            data: JSON.stringify(data),  // The data to send
            success: function(response) {
                // Handle the server's response here
            }
        });
    });

    </script>

</body>
{% include "footer.html" %}
