{% include "header.html" %}
<body>
    {% include "navbar.html" %}

    <div class="entry-container">
        <div id="addRecipeForm" class="tab-content active">
            <form id="enterRecipeForm" action="{{ url_for('main.update_recipe') }}" method="post">
                <div class="field">
                    <label for="recipeName" class="form-label">Recipe Name:</label><br>
                    <input type="text" id="recipeName" name="recipeName" class="input" value="{{recipe[0]['RecName']}}" readonly><br>
                </div>
                <div class="field">
                    <label for="style" class="form-label">Style:</label><br>
                    <input type="text" id="style" name="style" class="input" value="{{recipe[0]['Style']}}"><br>
                </div>
                <div class="field">
                    <label for="source" class="form-label">Source:</label><br>
                    <input type="text" id="source" name="source" class="input" value="{{recipe[0]['Source']}}"><br>
                </div>
                <div id="steps">
                    <!--Placeholder for steps-->
                </div>
                <button type="button" id="addStep" class="button">Add Step</button><br>
                <button type="button" id="removeStep" class="button">Remove Step</button><br>
                <div class="ingredient-container">
                    <div id="ingredients">
                        <!--Placeholder for ingredients-->
                    </div>
                    <div id="amounts">
                        <!--Placeholder for amounts-->
                    </div>
                </div>
                <button type="button" id="addIng" class="button">Add Ingredient</button><br>
                <button type="button" id="removeIng" class="button">Remove Ingredient</button><br>                
                <input type="submit" value="Submit" class="button">
            </form>
        </div>
    </div>
    


    <script>
        
        //THIS IS THE SCRIPT TO FILL IN EXISTING STEPS


        // Pass the recipe variable from Flask to JavaScript
        var recipe = {{ recipe | tojson | safe }};

        // Parse the 'Steps' field into a JavaScript object
        var steps = JSON.parse(recipe[0]['Steps']);
        console.log(steps)

        // Generate the HTML code for the existing steps
        for (var i = 1; i <= Object.keys(steps).length; i++) {
            var newStep = document.createElement('div');
            newStep.id = 'step' + i;
            newStep.innerHTML = '<label for="step' + i + 'Input">Step ' + i + ':</label><br><input type="text" id="step' + i + 'Input" name="step' + i + '" class="input" value="' + steps['step' + i] + '"><br>';
            document.getElementById('steps').appendChild(newStep);
        }

        // Update the stepCount variable to the next step number
        var stepCount = Object.keys(steps).length + 1;
    </script>


    <script>
        //THIS IS THE SCRIPT TO FILL IN EXISTING INGREDIENTS


        // Pass the recipe variable from Flask to JavaScript
        var recipe = {{ recipe | tojson | safe }};

        // Parse the 'Ingredients' field into a JavaScript object
        var ingredients = recipe[0]['Ingredients'];

        // Generate the HTML code for the existing ingredients
        for (var i = 0; i < ingredients.length; i++) {
            var ingredient = ingredients[i][0];
            var quantity = ingredients[i][1];

            var newIngredient = document.createElement('div');
            newIngredient.id = 'ing' + (i+1);
            newIngredient.innerHTML = '<label for="ing' + (i+1) + 'Input">Ingredient ' + (i+1) + ':</label><br><input type="text" id="ing' + (i+1) + 'Input" name="ing' + (i+1) + '" class="ingredients-field" value="' + ingredient + '" onblur="validateInput(this.value)"><br>';
            document.getElementById('ingredients').appendChild(newIngredient);

            var newQuantity = document.createElement('div');
            newQuantity.id = 'amt' + (i+1);
            newQuantity.innerHTML = '<label for="amt' + (i+1) + 'Input">Amount ' + ':</label><br><input type="text" id="amt' + 'Input" name="amt'  + '" class="input" value="' + quantity + '"><br>';
            document.getElementById('amounts').appendChild(newQuantity);
        }

        // Update the ingCount variable to the next ingredient number
        var ingCount = ingredients.length + 1;

    </script>


    <script>
        //THIS IS THE SCRIPT TO ADD-REMOVE STEPS AND INGREDIENTS

        var allIngredients = {{ ingredients | tojson | safe }};

        // Add event listener for the 'addStep' button
        document.getElementById('addStep').addEventListener('click', function() {
            var newStep = document.createElement('div');
            newStep.id = 'step' + stepCount;
            newStep.innerHTML = '<label for="step' + stepCount + 'Input">Step ' + stepCount + ':</label><br><input type="text" id="step' + stepCount + 'Input" name="step' + stepCount + '" class="input"><br>';
            document.getElementById('steps').appendChild(newStep);
            stepCount++;
        });

        //var ingCount = ;
        //var amtCount = 2;
        var amtCount = ingCount;
        document.getElementById('addIng').addEventListener('click', function() {
            var newIng = document.createElement('div');
            newIng.id = 'ing' + ingCount;
            newIng.innerHTML = '<label for="ing' + ingCount + 'Input">Ingredient ' + ingCount + ':</label><br><input type="text" id="ing' + ingCount + 'Input" name="ing' + ingCount + '" class="ingredients-field" onblur="validateInput(this.value)"><br>';
            document.getElementById('ingredients').appendChild(newIng);
            ingCount++;

            // Get the input fields again after adding a new one
            var inputs = document.getElementsByClassName("ingredients-field");

            // Attach the autocomplete function to each input field
            for (var i = 0; i < inputs.length; i++) {
                autocomplete(inputs[i], allIngredients);
            }

            var newAmt = document.createElement('div');
            newAmt.id = 'amt' + amtCount;
            newAmt.innerHTML = '<label for="amt' + 'Input">Amount ' + ':</label><br><input type="text" id="amt' + 'Input" name="amt' + '" class="input"><br>';
            document.getElementById('amounts').appendChild(newAmt);
            amtCount++;
        });

        document.getElementById('removeStep').addEventListener('click', function() {
            if (stepCount > 2) {
                stepCount--;
                var lastStep = document.getElementById('step' + stepCount);
                lastStep.parentNode.removeChild(lastStep);
            }
        });

        document.getElementById('removeIng').addEventListener('click', function() {
            if (ingCount > 2) {
                ingCount--;
                amtCount--;
                var lastIng = document.getElementById('ing' + ingCount);
                var lastAmt = document.getElementById('amt' + amtCount);
                lastIng.parentNode.removeChild(lastIng);
                lastAmt.parentNode.removeChild(lastAmt);
            }
        });

    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        //THIS IS THE SCRIPT TO SUBMIT THE FORM

        $("#enterRecipeForm").on('submit', function(e) {
        e.preventDefault();  // Prevent the form from reloading the page

        // Extract the information from the form
        var recipeName = $("#recipeName").val();
        var style = $("#style").val();
        var source = $("#source").val();

        // Format the steps as a JSON object
        var steps = {};
        $("#steps div").each(function() {
            var stepNumber = $(this).attr('id');  // Get the step number
            var stepInstruction = $(this).find('input').val();  // Get the step instruction
            steps[stepNumber] = stepInstruction;
        });

        // Initialize an empty array
        var ingredients = [];

        // Loop through each div inside the #ingredients and #Amounts divs
        $("#ingredients div").each(function(index) {
            // Get the ingredient name and amount
            var ingName = $(this).find('input').val();
            var ingAmt = $("#amounts div").eq(index).find('input').val();

            // Create an array with the ingredient name and amount
            var ingredient = [ingName, ingAmt];

            // Add the array to the ingredients array
            ingredients.push(ingredient);
        });

        // Create the data object to send to the server
        var data = {
            name: recipeName,
            style: style,
            steps: steps,
            source: source,
            ingredients: ingredients

        };

        // Send data to server
        $.ajax({
            url: '/update_recipe',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response) {
                // Handle the server's response here
                alert('Updated successfully!');
                window.location.href = '/my_recipes';  // Redirect to /my_recipes
            }
        });
    });


    </script>

    <script>
        //THIS IS THE SCRIPT TO AUTOFILL INGREDIENTS

        var allIngredients = {{ ingredients | tojson | safe }};
        console.log(allIngredients);

        // Get the input field
        var inputs = document.getElementsByClassName("ingredients-field");

        // Attach the autocomplete function to each input field
        for (var i = 0; i < inputs.length; i++) {
            autocomplete(inputs[i], allIngredients);
        }

        function autocomplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function(e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
    </script>

    <script>
        function validateInput(input) {
            var inputs = document.getElementsByClassName("ingredients-field");
            if (!allIngredients.includes(input)) {
                alert("Invalid ingredient! Please enter a valid ingredient.");
                // Disable all other input fields
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].value !== input) {
                        inputs[i].disabled = true;
                    }
                }
            } else {
                // Enable all input fields
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = false;
                }
            }
        }
    </script>

</body>
{% include "footer.html" %}
